.nom-tree {
  .nom-tree-node-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    cursor: pointer;

    &:hover {
      .nom-preset-hover;


      .nom-tree-drag-handler {
        visibility: visible;
      }
    }

    &.s-selected {
      background-color: var(--nom-tree-selected-color);
    }

    .s-disabled&,
    &.s-disabled {
      .nom-checkbox {
        cursor: not-allowed;
        opacity: 0.7;
      }
    }

    >.nom-tree-node-expandable-indicator {
      width: 30px;
      height: 24px;

      &.is-leaf {
        color: transparent;
      }
    }

    >.nom-tree-node-content-icon {
      margin-right: 6px;
    }

    >.nom-tree-node-content-tools {
      margin-left: 5px;
    }

    >.nom-tree-node-checkbox {
      margin-right: 6px;
    }

    .nom-tree-drag-handler {
      visibility: hidden;
      cursor: pointer;
    }
  }

  >.nom-tree-check-all {
    border-bottom: 1px solid var(--nom-border-color);
  }

  &.p-fit {
    display: flex;
    flex-direction: column;
    height: 100%;

    >.nom-tree-nodes {
      flex: 1;
      height: 100%;
      overflow: auto;
    }
  }
}
