.nom-date-picker-popup {
  .time-display {
    height: 40px;
    font-size: 18px;
    text-align: center;
  }
  .nom-datepicker-time-panel {
    padding-left: 5px;
    border-left: var(--nom-date-picker-divider);
  }

  .timepicker-group {
    > .nom-col {
      width: 60px;
      max-height: 220px;
      overflow-y: hidden;
      text-align: left;
      scroll-behavior: smooth;
      border-left: 1px solid var(--nom-border-color);
      &:first-child {
        border-left: none;
      }
      &:hover {
        overflow-y: auto;
      }
      .nom-list-item {
        padding: 0.25rem;
        cursor: pointer;
        .nom-preset-hover; // 基础对象想要hover时有背景色变化，使用这个预设类
        &.s-selected {
          .nom-preset-primary; // primary对象预设类，包括了它的hover、active、disabled样式
        }
      }
    }
  }
}
