.nom-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .nom-grid-header {
    z-index: 10;
  }
  .hidden {
    display: none;
  }
  .nom-grid-setting {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    background: var(--nom-grid-header-background-color);
    .nom-grid-setting-btn {
      margin: 8px 2px 0 0;
    }
  }

  > .nom-grid-header {
    position: relative;
    overflow: hidden;
    .nom-table {
      position: relative;
      z-index: inherit;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        // width: 100%;
        z-index: inherit;
        border-bottom: var(--nom-grid-header-border);
      }
    }
    .nom-th {
      &.nom-table-parent-th {
        text-align: center;
      }
      .nom-icon {
        position: relative;
        top: 2px;
        margin-left: 5px;
        color: var(--nom-grid-icon-color);
        &.p-type-sort-up,
        &.p-type-sort-down,
        &.nom-filter-active {
          color: var(--nom-grid-icon-color-active);
        }
      }
    }
    &.nom-grid-highlight-col {
      th:hover {
        background-color: var(--nom-grid-highlight-bg);
        background-image: none;
      }
    }
  }

  > .nom-grid-body {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: auto;

    > .nom-grid-body-content {
      overflow-x: auto;
    }
  }
  > .nom-grid-footer {
    position: relative;
    overflow: hidden;
    .nom-table {
      overflow: auto;
    }
  }

  &.p-bordered {
    border: 1px solid var(--nom-border-color);

    > .nom-grid-body {
      margin-bottom: -1px;
    }
    > .nom-grid-body + .nom-grid-footer {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  &.nom-table-has-row-group {
    tbody tr,
    tbody tr:hover {
      background-color: inherit;
      transition: all ease-in 0.25s;
    }
  }

  &.m-frozen-header {
    position: relative;
    display: flex;
    flex-direction: column;

    > .nom-grid-header {
      flex-shrink: 0;
      background-color: var(--nom-grid-header-background-color);
      > .nom-table {
        background-color: var(--nom-grid-header-background-color);
        &::after {
          right: var(--nom-scrollbar-width);
          width: calc(100% - var(--nom-scrollbar-width));
        }
      }

      > .nom-grid-header-content {
        overflow: hidden;
      }
    }

    > .nom-grid-body {
      flex: 1;
      height: 100%;
      overflow-y: scroll;

      > .nom-grid-body-content {
        overflow-x: auto;
        overflow-y: scroll;
      }
    }
  }

  &.m-with-setting {
    .nom-table {
      .nom-thead-tr {
        &:first-child {
          th:last-child {
            padding-right: 40px;
          }
        }
      }
    }
  }
}
.nom-grid-setting-panel {
  min-width: 300px;
  .nom-tree {
    .nom-tree-node-content {
      position: relative;
      top: 0;
      transition: all 0.25s;
      &:hover {
        top: -2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.nom-grid-setting-drag {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
