@import '_palette.less';
@import 'vars.less';
@import 'mixins.less';
@import 'normalize.less';
@import 'color.less';
@import 'padding.less';
@import 'margin.less';
@import 'border.less';
@import 'radius.less';
@import 'shadow.less';
@import 'typo.less';
@import 'text.less';
@import 'size.less';
@import 'shape.less';
@import 'rounded.less';
@import 'flex.less';
@import 'gutter.less';
@import 'gaps.less';
@import 'lines.less';
@import 'display.less';

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html {
  font-size: 14px;
}

body {
  color: @body-color;
  font-weight: @font-weight-base;
  font-size: @font-size-base;
  font-family: @font-family-base;
  line-height: @line-height-base;
  text-align: left;
  background-color: @body-bg;
}

html,
body,
* {
  scrollbar-width: thin; // for Firefox

  // 滚动条整体部分
  &::-webkit-scrollbar {
    width: var(--nom-scrollbar-width);
    height: var(--nom-scrollbar-width);
  }
  // 滚动条里面的小方块
  &::-webkit-scrollbar-thumb {
    border-radius: var(--nom-scrollbar-thumb-border-radius);
    background: var(--nom-scrollbar-thumb-bg);
  }
  // 滚动条的轨道（里面装有thumb）
  &::-webkit-scrollbar-track {
    background-color: var(--nom-scrollbar-track-bg);
  }
  // 边角，及两个滚动条的交汇处
  &::-webkit-scrollbar-corner {
    background-color: var(--nom-scrollbar-corner-bg);
  }
}

//
// Links
//

a {
  color: @link-color;
  text-decoration: @link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  cursor: pointer;

  &:hover {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
}

//
// Horizontal rules
//

hr {
  border: 0;
  border-top: @hr-border-width solid @hr-border-color;
}

//
// Lists
//

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  width: 100%;
  height: 100%;
}
